# Abaikan folder dependensi
/nodejs/node_modules

# Abaikan file log
*.log

# Abaikan file environment (jika ada)
.env

# Abaikan folder sesi whatsapp-web.js
.wwebjs_auth/
nodejs/.wwebjs_cache/2.3000.1024705224.html

nodejs/.wwebjs_cache/2.3000.1024710243.html
scrapper/__pycache__/config.cpython-310.pyc
scrapper/__pycache__/selenium-scrapper.cpython-310.pyc
